<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.junjunguo.pocketmaps"
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="8"
    android:versionName="1.7">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- necessary to easily download maps via wifi -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- Location API methods required permission -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:logo="@mipmap/ic_launcher"
        android:theme="@style/MYAppTheme">

        <activity
            android:name=".controller.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppThemeActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".controller.MapActivity"
            android:label="@string/title_activity_map"
            android:screenOrientation="portrait"
            android:theme="@style/MYAppTheme">
        </activity>
        <activity
            android:name=".controller.DownloadMapActivity"
            android:label="@string/title_activity_download"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppThemeActionBar">
        </activity>
        <activity
            android:name=".controller.SettingsActivity"
            android:label="@string/action_settings"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppThemeActionBar">
        </activity>
        <activity
            android:name=".controller.Analytics"
            android:label="@string/title_activity_analytics"
            android:screenOrientation="portrait"
            android:theme="@style/MyAppThemeActionBar">
        </activity>
    </application>

</manifest>
